html, body, main {
	height: 100%;
	width: 100%;
	font-size 4em;
	font-family: Arial;
	font-weight: 600;
}

nav {
	font-family: 'Schoolbell', cursive;
	font-size: 7em;
	 z-index: 10;
        background-color: #fff;
	width: 800px;
	height: auto;
	position: absolute;
	-webkit-transform: translate(-1220px, 0);
	transform: translate(-1220, 0);
	transition: transform 0.3s ease;
}

nav.open {
	-webkit-transform: translate(0, 0);
	transform: translate (0,0);
}
.header__menu {
        display: inline-block;
        position: absolute;
     		right: 5%;
        padding: 1em;
}

 .header__menu svg {
        width: 32px;
        fill: #E0E0E0;
    }

  img {
    	width: 1200px;
    	height: auto;
    }
    .upper_text {
    	position: absolute;
    	top: 50%;
    	transform: translateY(-50%);
    	left: 0;
    	width: 100%;
    	text-align: left;
    	margin-left: 10%;
    }
    h1 {
    	font-size: 0.8em;
    	font-weight: 300;
    	color: #9492DA;
    	text-shadow:
    -1px -1px 0 #B3AEAE,
    1px -1px 0 #B3AEAE,
    -1px 1px 0 #B3AEAE,
    1px 1px 0 #B3AEAE; 
    width: 100%;
    }
   .up {
   	margin-top: 2%;
   }
    .down {
    	margin-left: 60%;
    	margin-top: 2%;
    }

/*    ---- srce ---*/
#heart {
    position: relative;
    width: 100px;
    height: 90px;
}
#heart:before,
#heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}
